@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "poppins";
}

html {
    font-size: 100%;
    scroll-behavior: smooth;
}

body {
    /* position: relative; */
}

/* Slidebar */

.slidebar {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 100%;
    background-color: #00000056;
    z-index: 100;
    transition: 0.5s;
}

.slidebarmain {
    float: right;
    width: 80%;
    height: 100vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.slidebarmain img {
    margin-bottom: 20px;
}

.slidebarmain ul {
    list-style-type: none;
    text-align: center;
}

.slidebarmain ul li {
    margin: 10px;
}

.slidebarmain ul li a {
    text-decoration: none;
    color: black;

}

.slidebarmain ul li a button {
    background-color: #800000;
    border: none;
    color: #fff;
    width: 80px;
    height: 35px;
    border-radius: 4px;
}

.bottomwtps a {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 99;
    border-radius: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 7px;
    background-color: #25D366;
}

.bottomwtps img {
    width: 30px;
}

/* Navbar */

nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    transition: 0.5s;
    z-index: 99;
}

nav .logo {
    width: 100px;
    filter: invert(100%);
    transition: 0.5s
}

nav .navmenu {
    display: block;
}

nav .navmenu ul {
    display: flex;
    font-size: 14px;
    color: white;
    gap: 10px;
    align-items: center;
}

nav .navmenu ul li {
    list-style-type: none;
    cursor: pointer;
}

nav .navmenu ul li a {
    text-decoration: none;
    color: black;
}

.navmenu ul li a:hover {
    color: #25D366
}

.navmenu button {
    width: 70px;
    height: 30px;
    border: none;
    border-radius: 3px;
    background-color: #800000;
    color: white;
    font-size: 11px;
    transition: 0.5s;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(139, 137, 137, 0.2), 0 6px 20px 0 rgba(158, 119, 119, 0.274);
}

.navmenu button:hover {
    background-color: #25D366;
}

nav #menubtn {
    display: none;
    width: 20px;
    filter: invert(200%);
}

/* Container 1 */

.cont1 {
    width: 100%;
    height: 100%;
    position: relative;
}

.slide1 {
    display: block;
}

.slide2 {
    display:none;
}

.slide3 {
    display: none;
}

.slide4 {
    display: none;
}


.cont1::after {
    content: "";
    position: absolute;
    right:0;
    bottom:0;
    width: 100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.281);
    z-index: 1;
}

.cont1content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 2;
}

.cont1content h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 4rem;
}

.cont1content p {
    width: 500px;
    text-align: center;
    text-shadow: 1px 1px black;
    font-size: 1.4rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.bobble {
    width: 20px;
    height: 40px;
    border-radius: 10px;
    ;
    border: 1px solid white;
    position: relative;
    margin: 10px;
}

.bobble::after {
    content: "";
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 3px;
    height: 3px;
    background-color: white;
    animation: updown 2s infinite alternate linear;
}

@keyframes updown {
    0% {
        top: 20%;
    }

    100% {
        top: 80%;
    }
}

.cont1leftbtn {
    position: absolute;
    top: 50%;
    left: 0px;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    z-index: 2;
    padding: 3px;
    transition: 0.5s;
    border-radius: 3px;
}

.cont1rightbtn {
    position: absolute;
    top: 50%;
    right: 0px;
    width: auto;
    height: auto;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    z-index: 2;
    padding: 3px;
    transition: 0.5s;
    border-radius: 3px;
}

.cont1rightbtn:hover {
    background-color: rgba(0, 0, 0, 0.466);
}

.cont1leftbtn:hover {
    background-color: rgba(0, 0, 0, 0.466);
}


/* Container 2 */

.cont2 {
    width: 100;
    height: auto;
    background-image: url(img/landingThirdSection.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
}

.cont2::after {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.466);
    z-index: -1;
}

/* Contaienr 2 Section 1 */

.cont2section1 {
    width: 100%;
    height: auto;
    background-color: #FEFFF6;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.section1box {
    width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 80px;
}

.section1box img {
    /* width:300px */
    width: 100%;
}

.section1box p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    text-align: center;
    font-size: 0.8rem;
}

.section1box h3 {
    font-size: 0.7rem;
}

.section1box h5 {
    font-size: 1.8rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
}

.section1box h5 span {
    color: #800000;
    font-weight: 600;
    font-family: var(--paragraph);
}

.cont2section1 .section1box button {
    width: 130px;
    height: 30px;
    border: none;
    border-radius: 3px;
    background-color: #800000;
    color: white;
    font-size: 11px;
    transition: 0.5s;
    cursor: pointer;
}

.section1box button:hover {
    background-color: #25D366;
}

/* Container 2 Section 2 */

.cont2section2 {
    width: 100%;
    height: 70vh;

}

.cont2section2 p {
    color: white;
    margin: 300px 100px;
    width: 500px;
    height: auto;
    font-size: 2.6rem;
    font-family: "poppins";
    font-weight: 200;

}

.cont2section2 p span {
    color: #25D366;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}

/* Container 2 Section 3 */

.cont2section3 {
    width: 100%;
    height: auto;
    background-color: #FEFFF6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section3col1 {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "poppins";
    padding: 20px;

}

.section3col1 h1 {
    font-weight: 200;
    margin: 20px;
    text-align: center;
}

.section3col1 h1 span {
    color: #800000;
}

.section3col1 p {
    font-size: 0.7rem;
    text-align: center;

}

.section3col1photos {
    margin: 20px 0;
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}

.section3col1photos img {
    width: 200px;
    height: 250px;
    margin: 20px;
}

.section3col2 {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.section3col2box {
    width: 400px;
    height: auto;
    margin: 40px;
}

.section3col2box img {
    width: 300px;

}

.section3col2box p {
    font-size: 1rem;
    margin: 15px 0;
    font-family: "poppins";
    font-weight: 300;
}

.section3col2box p:nth-child(3) {
    font-size: 0.8rem
}

.section3col2box button {
    width: 120px;
    height: 30px;
    border: none;
    border-radius: 3px;
    background-color: #800000;
    color: white;
    font-size: 11px;
    transition: 0.5s;
    cursor: pointer;
}

.section3col2box button:hover {
    background-color: #25D366;
}

/* Container 3 */

.cont3 {
    width: 100%;
    height: auto;
    background-image: url(img/offersectionbg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: 1;
    position: relative;
}

.cont3sec1 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #800000;
}

.cont3sec1 h1 {
    width: 100%;
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin: 30px;
    margin-top: 55px;
    font-size: 3.2rem;
}

.cont3sec1main {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.cont3sec1box {
    width: 240px;
    height: 400px;
    display: flex;
    justify-content: center;
    margin: 0 20px;
}

.cont3sec1photo {
    height: 60%;
    width: 100%;
    border-radius: 150px 150px 0 0;
    overflow: hidden;
}

.cont3sec1box img {
    width: 100%;
    border-radius: 150px 150px 0 0;
    transition: 0.5s;
}

.cont3sec1box:hover img {
    transform: scale(105%);
    border-radius: 150px 150px 0 0;
}

.cont3sec1box a {
    color: white;
    text-decoration: none;
}

.cont3sec1box h2 {
    font-size: 1rem;
    font-weight: 300;
    margin: 10px 0;
}

.cont3sec1box p {
    font-size: 0.6rem;
}

.cont3sec1box button {
    background-color: #800000;
    border: none;
    color: #fff;
    font-size: 0.6rem;
    transition: 0.5s;
}

.cont3sec1box:hover button {
    margin-left: 5px;
}

.cont3sec2 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cont3sec2 h1 {
    color: #fff;
    margin: 50px 0 20px;
    font-size: 1.5rem;
    font-weight: 300;
    text-shadow: 1px 1px black;
    text-align: center;
}

.cont3sec2 button {
    width: 170px;
    height: 35px;
    border: none;
    border-radius: 3px;
    background-color: #800000;
    color: white;
    font-size: 11px;
    transition: 0.5s;
    cursor: pointer;
    margin-bottom: 50px;
}

.cont3sec2 button:hover {
    background-color: #25D366;
}

.cont3sec3 {
    width: 100%;
    height: auto;
    background-color: #FEFFF6;

}

.cont3sec3 .cont3sec3sec1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.cont3sec3sec1box {
    width: 400px;
    height: auto;
    margin: 40px 0 0 0;
}

.cont3sec3sec1box img {
    width: 200px;
}

.cont3sec3sec1box button {
    width: 190px;
    height: 35px;
    border: none;
    border-radius: 3px;
    background-color: #800000;
    color: white;
    font-size: 11px;
    transition: 0.5s;
    cursor: pointer;
    margin-bottom: 50px;
}

.cont3sec3sec1box button:hover {
    background-color: #25D366;
}

.cont3sec3sec1box p span {
    font-weight: 550;
    font-size: 0.83rem;

}

.cont3sec3sec1box p {
    font-size: 0.8rem;
    margin: 10px 0;
}

.cont3sec3sec1box h1 span {
    color: #800000;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: 2rem;
}

.cont3sec3sec1box h1 {
    font-weight: 200;
}

.cont3sec3sec1box h4 {
    font-weight: 500;
    font-size: 0.7rem;
}

.cont3sec3sec2 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cont3sec3sec1box2 {
    width: 410px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cont3sec3sec1box2:nth-child(1) {
    height: auto;
}

.cont3sec3sec1box2 h1 {
    font-weight: 200;
    font-size: 2.1rem;
    width: 100%;
}

.cont3sec3sec1box2 h1 span {
    color: #800000;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
}

.cont3sec3sec1box2 p {
    font-size: 0.7rem;
    margin: 10px;
    width: 100%;
}

.cont3sec3sec1box2 {
    overflow: hidden;
    padding: 20px;

}

.cont3testibox {
    width: 380px;
    height: auto;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(139, 137, 137, 0.2), 0 6px 20px 0 rgba(155, 153, 153, 0.19);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 23px 10px;
    margin: 10px 0;
    background-color: white;
    ;
}

.cont3sec3sec1main {
    height: 300px;
    width: 400px;
    overflow-x: auto;
    padding: 0 0px 10px 10px;


}

.cont3sec3sec1main::-webkit-scrollbar {
    /* display: none; */
    width: 4px;
    background-color: transparent;
}

.cont3sec3sec1main::-webkit-scrollbar-thumb {
    background-color: #800000;
    border-radius: 8px;
}

.cont3testibox img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 15px;
}

.cont3testibox p {
    font-size: 0.55rem;
    width: 100%;
    margin: 0;
}

.cont3testibox h4 {
    font-weight: 200;
    font-size: 0.75rem;


}


/* Footer */

footer {
    width: 100%;
    height: auto;
    background-color: #E3E3E3;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footerbox {
    width: 300px;
    height: auto;
    font-family: "poppins";
    margin: 60px 0;
}

.footerbox h3 {
    font-size: 0.9rem;
    font-weight: 300;
}

.footerbox ul {
    list-style-type: none;
    margin-bottom: 20px;
    ;
}

.footerbox ul li {
    margin: -4px 0;
}

.footerbox ul li a {
    font-size: 0.7rem;
    color: black;
    text-decoration: none;
}

.footerbox ul li a:hover {
    color: #800000
}

.footerbox p {
    font-size: 0.6rem;
    margin-top: 5px;
}

.footerbox .footerphn img {
    filter: invert(60%);
}

.footerbox .footerphn {
    gap: 5px;
    font-size: 0.7rem;
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.footerbox .footeremail {
    gap: 5px;
    font-size: 0.7rem;
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.footerbox .footeremail img {
    filter: invert(60%);
}

.footerbox .footersocial img {
    margin-top: 15px;
    width: 20px;
}