.nav .logo{
    filter: invert(0%);
}
.servcont1{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #FEFFF6;
}
.servcont1box{
    width: 350px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.servcont1box h1{
    width: 100%;
}
.servcont1box p{
    width: 100%;
}
.servcont1box a{
    color:black;
    width: 100%;
}
.servcont1box .servcont1button{
    width: 100%;

}
.servcont1 button {
    width: 180px;
    height: auto;
    padding:5px 5px;
    border:none;
    background-color: #800000;
    color:white;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    margin-top:5px;
}
.servcont1 button:hover {
    background-color: #25D366;
}
.servcont1box img{
    width: 50%;
    transform: rotate(20deg);
}
.servcont1 h1{
    font-weight: 300;
}
.servcont1 p{
    font-size: 0.7rem;
    margin:6px 0;
}


.cont3sec1box button{
    background-color: white;
    color:#800000;
    width: 100px;
    height: 30px;
    font-size:0.9rem;
    border-radius: 5px;
    margin-top:5px;
    z-index: 999;
    cursor: pointer;
}

/* Services Container 2 */

.servcont2{
    width:100%;
    height:auto;
}
.servcont2main{
    width:100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.servcont2main h1{
    color:#800000;
    width: 100%;
    text-align: center;
    margin-top:60px;
    font-family: 'Courier New', Courier, monospace;
    font-size:2.3rem;
}
.servcont2main p{
    font-size:0.6rem;
    margin:10px;
    width: 500px;
    text-align: center;
}
.servcont2mainbox{
    width:100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    margin-top:40px;;
    flex-wrap: wrap;
}
.servcont2mainbox .servcont2img{
    width:300px;
    margin:20px;
    height: auto;
}
.servcont2img:nth-child(even){
    margin-top:50px;
}
.servcont2mainbox .servcont2img h3{
    margin:10px;
    color:#800000;
    font-weight: 400;
}
    
.servcont2mainbox .servcont2img img{
    width: 100%;
    height: 200px;
}
#servcont2main1{
    
}
#servcont2main2{
    display: none;
}
#servcont2main3{
    display: none;
}


/* Services Container 3 */

.servcont3{
    width:100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:10px
}

.servcont3left{
    width:45%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:30px;
    margin:40px 0
}
.servcont3box{
    width: 100%;
    height: auto;
    background-color: rgba(255, 192, 203, 0.418);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition:2s;
}
.servcont3box1{
    width: 100%;
    display: flex;
    justify-content: baseline;
    padding:0px 10px;
    align-items: center;
    gap:20px;
    height: 100%;
    border-bottom:1px solid rgba(255, 255, 255, 0.377);
}
.servcont3box1 img{
    width: 40px;
}
.servcont3box2{
    width: 90%;
    display:none;
    transition:1s;
}

.servcont3box:hover .servcont3box2{
    display: block;
}
.servcont3box2 p{
    font-size: 0.6rem;
    padding:15px 0 ;
}



/* Services Container 4 */

.servcont4{
    width: 100%;
    height: auto;
    background-color: #800000;
    padding:10px;
}
.servcont4 h1{
    font-weight: 300;
    font-size: 1.5rem;
    width: 100%;
    padding-left: 20px;;
    margin-top:30px;

}
.servcont4box{
    background-color: white;
    width: 90%;
    height: 40px;
    overflow: hidden;
    margin:20px;
    padding:10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
}
.servcont4box:hover{
    height: auto;
}
.servcont4box h2{
    font-size: 0.8rem;
    color:#800000;
    font-weight: 300;
}
.servcont4 p{
    font-size: 0.6rem;
    margin:20px 0px 0px 0px;
}


@media screen and (max-width:800px) {
    .servcont1{
        flex-direction: column;
        height: auto;
    }
    .servcont1box{
        width:90%;
        margin:50px 0;
        text-align: center;
    }
    .servcont1box img{
        width:200px;
        margin:-20px 0 20px 0;
    }
    .servcont1box h1{
        font-size:2.7rem;
        margin-top:30px;
    }
    .servcont1 button{
        width:200px;
        height: 40px;
    }
}
@media screen and (max-width:750px){
    .servcont3{
        flex-direction: column;
    }
    .servcont3left{
        width: 90%;;
    }
    .servcont3left{
        margin:15px 0;
    }
}
@media screen and (max-width:550px){
    .servcont2main p{
        width: 90%;
    }
    .servcont4box{
        height: 34px;
    }
    .servcont4box h2{
        font-size:0.6rem;
    }
}
@media screen and (max-width:500px){
    .servcont4 h1{
        font-size:1.2rem;
    }
}
@media screen and (max-width:400px){
    .servcont1box h1{
        font-size:2rem;
        margin-top:30px;
    }
    .servcont1box img{
        width:150px;
        margin-top:-40px;
    }
    .servcont2main h1{
        font-size:1.8rem;
    }
    .servcont1 button{
        font-size:0.6rem;
        width:150px;
        height: 30px;
    }
    .servcont4box{
        height: 30px;
    }
    .servcont4box h2{
        font-size:0.5rem;
    }
    .servcont4 h1{
        font-size:1rem;
    }
}